.resultsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.word h1 {
    font-size: 4rem;
}

@media screen and (max-width: 767px) {
    .word h1 {
        font-size: 2rem;
    }
}

.definitionPhonetic {
    font-size: 1.5rem;
    color: var(--accent);
}

@media screen and (max-width: 767px) {
    .definitionPhonetic {
        font-size: 1.125rem;
    }
}

.iconPlay {
    fill: rgba(164, 69, 237, .25);
    transition: fill 0.1s ease;
}

@media screen and (max-width: 767px) {
    .iconPlay {
        width: 48px;
    }
}

.iconPlay path {
    fill: #A445ED;
    transition: fill 0.1s ease;
}

.iconPlay:hover {
    fill: rgba(164, 69, 237, 1);
}

.iconPlay:hover path {
    fill: #fff;
}

.iconPlay.disabled {
    fill: rgba(179, 179, 179, .25);
    cursor: not-allowed;
}

.iconPlay.disabled  path{
    fill: #b3b3b3;
}

.result {
    margin-top: 40px;
}

.result h2 {
    font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
    .result h2 {
        font-size: 1.125rem
    }
}

.partOfSpeech {
    font-size: 1.5rem;
    font-style: italic;
}

.resultTitle {
    color: #757575;
    font-size: 1.25rem;
    font-weight: normal;
}

@media screen and (max-width: 767px) {
    .resultTitle {
        font-size: 1rem;
    }
}

.resultSection {
    margin-top: 40px;
}

.meaningsList {
    margin-top: 25px;
}

.meaningsList li {
    list-style-type: disc;
    margin-bottom: 13px;
}

.meaningsList .meaningsExample {
    list-style-type: none;
    color: var(--text-secondary)
}

.meaningsExample::before {
    content: "“";
}

.meaningsExample::after {
    content: "”";
}

.meaningsList li::marker {
    color: var(--accent)
}

.synonym {
    display: flex;
}

.synonymsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    color: var(--accent);
    font-weight: bold;
}

.synonymsList li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
}