.resultsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.definitionWord {
    font-size: 4rem;
}

.definitionPhonetic {
    font-size: 1.5rem;
    color: var(--accent);
}

.iconPlay {
    fill: #A445ED;
}

.disabled {
    fill: #b3b3b3;
    cursor: not-allowed;
}

.result {
    margin-top: 40px;
}

.resultTitle {
    color: #757575;
    font-weight: normal;
}

.resultSection {
    margin-top: 40px;
}

.meaningsList {
    margin-top: 25px;
}

.meaningsList li {
    list-style-type: disc;
    margin-bottom: 13px;
}

.meaningsList .meaningsExample {
    list-style-type: none;
    color: var(--text-secondary)
}

.meaningsExample::before {
    content: "“";
}

.meaningsExample::after {
    content: "”";
}

.meaningsList li::marker {
    color: var(--accent)
}

.synonym {
    display: flex;
}

.synonymsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    color: var(--accent);
    font-weight: bold;
}