.searchForm {
    position: relative;
}

.searchBar {
    position: relative;
}

.search {
    width: 100%;
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 20px 24px;
    font-weight: bold;
}

.search:focus {
    border-color: var(--accent);
    outline: none;
}

.search::placeholder {
    color: var(--text-primary);
    opacity: .25;
}

.searchBtn {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-color: inherit;
    outline: none
}

.searchBtn:focus-visible {
    outline: unset;
    outline: -webkit-focus-ring-color auto 1px;
}

.searchIcon {
    color: var(--accent);
}

.errorMessage {
    color: #ff5252;
    margin-top: 8px;
}

.search.errorBorder {
    border-color: #ff5252;
}

/* Autocomplete */
.suggestionList {
    background-color: var(--bg-primary);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: var(--dropdown-shadow);
    padding: 12px 20px;
    margin-top: 1px;
    border-radius: 16px;
    position: absolute;
    width: 100%;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

@media screen and (max-width: 1068px) {
    .suggestionList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .suggestionList {
        grid-template-columns: 1fr;
        max-height: calc(100vh - 375px);
        overflow-y: auto;
    }
}

.suggestion {
    margin-top: 7px;
    padding: 15px
}

.suggestion:hover {
    background-color: var(--bg-secondary);
    cursor: pointer;
}