.searchForm {
    position: relative;
}

.search {
    width: 100%;
    background-color: var(--bg-secondary);
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 20px 24px;
    font-weight: bold;
}

.search:focus {
    border-color: var(--accent);
    outline: none;
}

.search::placeholder {
    opacity: .25;
}

.searchBtn {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-color: inherit;
    outline: none
}

.searchIcon {
    color: var(--accent);
}

.errorMessage {
    color: #ff5252;
    margin-top: 8px;
}

.search.errorBorder {
    border-color: #ff5252;
}