.footer {
    margin-top: 40px;
    font-size: 0.875rem;
}

.footerLine {
    border: none;
    height: 1px;
    background-color: var(--stroke)
}

.source {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.sourceTitle {
    color: var(--text-secondary);
    font-weight: normal;
}

.sourceLink {
    display: flex;
    align-items: center;
    gap: 9px;

    color: var(--text-primary);
    word-break: break-word;
}

