.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.iconMoon {
    color: var(--icon-moon);
}

/* Hide default checkbox */
.switch input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}

.switch input:focus-visible + .slider {
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: 2px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #757575;
    transform: 0.4s;
    border-radius: 20px;
}

/* Circle inside of the slider */
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

/* When checkbox is checked, move slider */
input:checked + .slider {
    background-color: #A445ED;
}

input:checked + .slider:before {
    transform: translateX(19px);
}