#root {
  max-width: 735px;
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  #root {
      font-size: 1.5em;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

.vertical-divider {
    width: 1px;
    background-color: #e9e9e9;
    height: 32px;
    margin: 0px 1.625em;
}

ul li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.visible {
  display: block;
}

.label-line {
  display: flex;
  align-items: center;
}

.label-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--stroke);
  margin-left: 0.5rem;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: .3px;
}