/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* CSS RESET END */


.sans-serif {
  font-family: 'Inter' !important;
}

.serif {
  font-family: 'Lora' !important;
}

.mono {
  font-family: 'Inconsolata' !important;
}

:root {
  font-family: 'Inter' !important;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  --accent: #A445ED;
  --accent-secondary: #cdcdcd;
  
  --stroke: #e9e9e9;

  --bg-primary: #fff;
  --bg-secondary: #f4f4f4;

  --dropdown-primary: #fff;
  --dropdown-shadow: rgba(0, 0, 0, 10%) 0px 5px 30px;

  --text-primary: #2d2d2d;
  --text-secondary: #757575;

  --icon-moon: #757575;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  --stroke: #3a3a3a;

  --bg-primary: #050505;
  --bg-secondary: #1f1f1f;

  --dropdown-primary: #1f1f1f;
  --dropdown-shadow: rgba(164, 69, 237, 1) 0px 5px 30px;
  --text-primary: #fff;

  --icon-moon: #A445ED;

}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary)
}

h1 {
  font-size: 3.555rem;
}